.customButton {
  display: flex;
  box-sizing: border-box;
  gap: 5px;
  place-items: center;
  padding: 0.25em 1em;
  border-radius: 7px;
  font-weight: 700;
  border: 2px solid transparent;
  background: rgb(var(--theme-primary), 0.2);
  color: rgb(var(--theme-primary));
  min-width: 100px;
  width: max-content;
}
.customButton:hover {
  filter: brightness(110%);
  border-color: rgb(var(--theme-primary));
}

.btnIcon {
  display: grid;
  place-items: center;
  font-size: 2em;
}
.filled {
  color: rgb(var(--bg));
  background: rgb(var(--theme-primary));
}

.filled:hover {
  border-color: rgb(var(--bg));
  outline: 1px solid rgb(var(--theme-primary));
}

@media screen and (max-width: 920px) {
  .customButton {
    padding: 0.25em 1em;
  }
}

@media screen and (max-width: 500px) {
  .customButton {
    padding: 0 1em;
  }
}
