.footer {
  box-sizing: border-box;
  background: #0d0b02;
  font-family: var(--secondary-font);
  color: white;
  align-self: end;
  width: 100vw;
  padding: 0 3rem;
}

.footerContent {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerText {
  display: flex;
  justify-content: space-between;
  min-width: max-content;
}

.footerText span {
  margin-left: 5px;
  margin-top: 2px;
}

.socials {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .footer {
  }
}

@media screen and (max-width: 500px) {
  .footerContent {
    flex-direction: column;
    padding: 1rem 0;
  }
}
