.CustomHeader {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  padding: 1rem 20px;
  margin: auto;
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 2.5rem;
}

.mobileMenu {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.menuDots {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.navBtn {
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
}

.navBtn:hover {
  background-color: rgba(var(--theme-primary), 0.4);
}

.logoText {
  font-size: 2rem;
  font-weight: 900;
}

.navEnd {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.downArrow:hover {
  margin-top: 0.5rem;
}

.profileBtn {
  box-sizing: content-box;
  display: grid;
  place-items: center;
  border: 2px solid rgb(var(--theme-primary));
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 50%;
}

.search {
  display: flex;
  position: relative;
}

.search input {
  background: rgb(var(--primaryText));
  outline: none;
  padding: 3px 30px 3px 10px;
  border: none;
  border-radius: 20px;
  color: rgb(var(--bg));
  font-weight: 700;
}

.searchSubmit {
  display: grid;
  border: none;
  place-items: center;
  box-sizing: content-box;
  position: absolute;
  font-weight: 700;
  top: -2.5px;
  right: -2px;
  padding: 0.5rem;
  background: rgb(var(--theme-primary));
  border-radius: 50%;
  color: rgb(var(--bg));
}

.searchSubmit:hover {
  box-shadow: -4px 4px 9px -5px rgb(var(--bg));
}

.downArrow {
  font-size: 1.5rem;
  color: rgb(var(--primaryText));
  transition: 100ms margin;
}

.hide {
  display: none;
}

.hello {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .hello {
    display: block;
  }

  .hamburgerMenu {
    display: inline-block;
    align-self: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(var(--theme-primary));
    margin-top: 5px;
  }

  .search input {
    background: rgb(var(--primaryText));
    outline: none;
    padding: 3px 10px;
    border: none;
    border-radius: 20px;
    color: rgb(var(--bg));
    font-weight: 700;
  }

  .search input::placeholder {
    font-size: 0.9rem;
    color: rgb(var(--bg), 0.5);
  }

  .menuDots img {
    width: 100%;
  }

  .mobileMenu {
    background-color: rgb(var(--bg));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 1rem;
  }

  .closeBtn {
    box-sizing: content-box;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(var(--bg));
    margin-top: 10px;
    justify-self: end;
    background-color: rgb(var(--theme-primary), 0.5);
  }

  .closeBtn:hover {
    background-color: rgb(var(--theme-primary));
  }

  .navBtn {
    padding: 0.5rem 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .search {
    display: none;
  }

  .mobileMenu {
    right: 1rem;
  }
}
