.App {
  background: rgb(var(--bg));
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.active {
  background-color: rgb(var(--theme-primary));
  color: rgb(var(--bg));
  font-weight: 700;
}

.active:hover {
  background-color: rgb(var(--theme-primary)) !important;
  color: rgb(var(--bg)) !important;
  font-weight: 700 !important;
}

/* temporary fix */
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 90%;
  margin: auto;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  inset: 0;
  background: url("./assets/backgrounds/vid-effect.gif") no-repeat top center /
    cover;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  display: grid;
  place-items: center;
  mix-blend-mode: exclusion;
}

.loadingImg {
  box-sizing: content-box;

  font-family: "Courier New", Courier, monospace;
  border-radius: 50%;
  font-size: 15vmin;
  text-align: end;
  display: grid;
  place-items: center;
}

.overLay {
}

.customModal {
  background: rgb(var(--theme-primary)) !important;
  border-radius: 10px;
}

.frame {
  width: 50vw;
  min-width: 80vmin;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

/* .hello {
} */

.loader {
  animation: rotate 1.5s linear infinite;
}
/* img {
  width: 100%;
} */

.closeModal {
  all: unset;
}

@media screen and (max-width: 500px) {
  .App {
    overflow: unset;
  }
}
