.App {
  background: rgb(var(--bg));
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.active {
  background-color: rgb(var(--theme-primary));
  color: rgb(var(--bg));
  font-weight: 700;
}

.active:hover {
  background-color: rgb(var(--theme-primary)) !important;
  color: rgb(var(--bg)) !important;
  font-weight: 700 !important;
}

/* temporary fix */
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 90%;
  margin: auto;
}

/* img {
  width: 100%;
} */
