/* @import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css"); */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;

  /* hide scrollbar, but keep functionality for Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide scrollbar, but keep functionality for Chrome, Safari and Opera  */
body::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Gruppo", sans-serif;
  --theme-primary: 206, 175, 39;
}

body {
  font-family: var(--primary-font);
  color: rgb(var(--primaryText));
  background: rgb(var(--bg));
}

a {
  text-decoration: none;
  color: rgb(var(--theme-col));
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: 217, 217, 217;
    --primaryText: 27, 25, 18;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: 27, 25, 18;
    --primaryText: 255, 255, 255;
  }
}
